<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img class="img-fluid" src="{{item.dataValues.item_img_url}}" alt="Placeholder image for user">
        </div>
        <div class="col-md-4">
            <h1>{{item.dataValues.item_name}}</h1>
            <h4>Poster's ID: {{item.dataValues.UserId}}</h4>
            <h4>Price: {{item.dataValues.item_price}}</h4>
            <h6>Description: {{item.dataValues.item_description}}</h6>
            <h6>Location: {{item.dataValues.item_location}}</h6>
            <h6>Category: {{item.dataValues.item_category}}</h6>
            <h6>Posted: {{item.dataValues.createdAt}}</h6>
        </div>
        <div class="col-md 4"></div>
        <div class="col-md-2"></div>
    </div>
 <div class="row">
     <button>Add to Cart</button>
</div>   

</div>

