<div class="container">
    <div class="row">
        <h1>Edit Post</h1>
    </div>
    <form action="">
        <label for="item_name">Item Name: </label>
        <input type="text" id="item_name" placeholder="{{item.dataValues.item_name}}"><br>
        <label for="item_price">Price: </label>
        <input type="text" id="item_price" placeholder="{{item.dataValues.item_price}}"><br>
        <label for="item_description">Description: </label>
        <textarea name="" id="item_description" cols="30" rows="10" placeholder="{{item.dataValues.item_description}}"></textarea><br>
        <label for="item_img_url">Image URL: </label>
        <input type="text" id="item_img_url" placeholder="{{item.dataValues.item_img_url}}"><br>
        <label for="item_category">Category: </label>
        <input type="text" id="item_category" placeholder="{{item.dataValues.item_category}}"><br>
        <label for="item_location">location: </label>
        <input type="text" id="item_location" placeholder="{{item.dataValues.item_location}}"><br>

        <button type="submit" id="edit-post" data-userId="{{item.dataValues.userId}}" data-id="{{item.dataValues.item_id}}">Submit Changes</button>
        
    </form>

</div>